$body-font-family: 'Inter', sans-serif;
$btn-rounded-border-radius: 28px;
$text-field-shaped-border-radius: 16px;
$dialog-border-radius: 12px;

$btn-font-weight: 400;
$btn-font-sizes: (
  'x-large': 0.9375rem
);
