$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-account: "\e900";
$icon-account-filled: "\e901";
$icon-add: "\e902";
$icon-add-new: "\e903";
$icon-add-row: "\e904";
$icon-align-center: "\e905";
$icon-align-left: "\e906";
$icon-align-right: "\e907";
$icon-alphabetical-sorting: "\e908";
$icon-answers: "\e909";
$icon-arrow-left: "\e90a";
$icon-arrow-right: "\e90b";
$icon-arrows: "\e90c";
$icon-available-updates: "\e90d";
$icon-back: "\e90e";
$icon-binoculars: "\e90f";
$icon-bold: "\e910";
$icon-box: "\e911";
$icon-brightness: "\e912";
$icon-chisel-tip-marker: "\e913";
$icon-clipboard: "\e914";
$icon-clock: "\e915";
$icon-close: "\e916";
$icon-copy: "\e917";
$icon-copy-link: "\e918";
$icon-create: "\e919";
$icon-delete: "\e91a";
$icon-delete-row: "\e91b";
$icon-document: "\e91c";
$icon-downloads-folder: "\e91d";
$icon-drag-handler: "\e94a";
$icon-duplicate: "\e91e";
$icon-edit: "\e91f";
$icon-expand-arrow: "\e920";
$icon-external-link: "\e921";
$icon-folder: "\e922";
$icon-idea: "\e923";
$icon-import: "\e924";
$icon-in-progress: "\e925";
$icon-italic: "\e926";
$icon-lifebuoy: "\e927";
$icon-link: "\e928";
$icon-list: "\e929";
$icon-map: "\e92a";
$icon-menu-vertical: "\e92b";
$icon-minus: "\e92c";
$icon-moon-and-stars: "\e92d";
$icon-more: "\e92e";
$icon-more_outlined: "\e92f";
$icon-note: "\e930";
$icon-notification: "\e931";
$icon-ok: "\e932";
$icon-ok-2: "\e933";
$icon-open-document: "\e934";
$icon-paint-palette: "\e935";
$icon-plus-math: "\e936";
$icon-progress-indicator: "\e937";
$icon-redo: "\e938";
$icon-rename: "\e939";
$icon-search: "\e93a";
$icon-search-big: "\e93b";
$icon-settings: "\e93c";
$icon-sign-out: "\e93d";
$icon-sort: "\e93e";
$icon-speaker-notes: "\e93f";
$icon-star: "\e940";
$icon-study: "\e941";
$icon-submit-document: "\e942";
$icon-sun: "\e943";
$icon-synchronize: "\e944";
$icon-trash: "\e945";
$icon-unavailable: "\e946";
$icon-undo: "\e947";
$icon-versions: "\e948";
$icon-workspace: "\e949";

